<nav>
  <%# Hamburger menu icon (for mobile) %> 
  <div id="hamburger"><i class="fas fa-bars"></i></div>

  <%# Navbar logo %>
  <%= link_to 'CollabField', root_path, class: 'navbar-brand' %>

  <%# Menu links%>
  <div class="mobile-hidden" id="main-menu">
    <a href="#">Navbar item 1</a>
    <a href="#">Navbar item 2</a>
    <a href="#">Navbar item 3</a>
    <a href="#">Navbar item 4</a>
    <%= render collapsible_elements %>
  </div>
</nav>
